.App-header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  justify-content: center;
  color: white;
}

.App-logo {
  padding: 0;
  margin: -20px;
  width: 300px;
  height: 100px;
}

.App {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
