@import url("https://fonts.googleapis.com/css?family=Acme");

.App-header {
  background-color: rgb(0, 0, 0);
  max-height: 10vh;
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
}

.App-logo {
  padding: 0;
  margin: -20px;
  height: 100px;
}

.App {
  text-align: center;
}

a {
  text-decoration: none !important;
}
#carousel h1 {
  font-size: 70px;
  font-family: "Acme", sans-serif;
  margin-top: 200px;
}
#carousel .card {
  border: none;
}
#carousel img {
  height: 400px;
}

.card__outer {
  background-color: #333;
  min-width: 100%;
  display: flex;
  overflow: auto;
}

.card {
  max-width: 300px;
  margin: 0 auto;
  background: #3d3c3b3f;
}

.card::-webkit-scrollbar {
  display: none;
}

.form {
  margin: 10px 0;
}

.form__group {
  display: inline;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 5px 15px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 30%;
  transition: all 500ms;
}

.form__input:focus {
  outline: none;
  box-shadow: 1 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:focus:invalid {
  border-bottom: 3px solid #ff982c;
}
.form__input:focus::-webkit-input-placeholder {
  color: #777;
}

.form__btn {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 4px 15px;
  border-radius: 2px;
  margin-top: 2px;
  margin-left: 10px;
  border-bottom: 3px solid transparent;
  background-color: #ff982c;
  color: #333;
}
