@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  background: #000000f3;
}

/*=============================================
=            NAVIGATION           =
=============================================*/

nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  background: #444;
  text-align: center;
}

nav ul li a {
  color: #ddd;
  text-decoration: none;
  padding: 0.8rem 0.5rem;
  display: block;
  line-height: 1;
}

nav ul li {
  border-bottom: 1px solid #ddd;
}

/* style logo */

.logo {
  padding: 20px;
  text-align: center;
}

nav .logo a {
  color: #ff982c;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
}

form {
  width: 100%;
  display: flex;
}

.form__group {
  flex: 1;
}

.form__input {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: inherit;
  padding: 6px 0;
  background-color: #6f6f6f3c;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  transition: all 500ms;
}

.form__input:focus {
  outline: none;
  box-shadow: 1 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:focus:invalid {
  border-bottom: 3px solid #ff982c;
}

.form__input::-webkit-input-placeholder {
  padding-left: 10px;
}
.form__input:focus::-webkit-input-placeholder {
  color: #777;
  margin-left: 5px;
}

.form__btn {
  display: block;
  width: 100%;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 5px;
  background-color: #ff982c;
  color: #333;
  margin-right: 20px;
}

/* styling for larger devices */
@media (min-width: 800px) {
  nav {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    align-items: center;
  }

  nav .logo a {
    font-size: 22px;
  }

  nav ul {
    display: flex;
    align-items: center;
    background: none;
    flex-wrap: wrap;
  }

  nav .logo {
    padding: 0;
    margin-left: 1rem;
  }

  nav ul li {
    border-bottom: none;
    flex: 1 0 auto;
    position: relative;
  }

  nav ul li a {
    padding: 1rem 0.8rem;
  }

  nav ul li a::before,
  nav ul li a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background: #ff982c;
    transition: 0.2s width ease-in-out;
  }

  nav ul li a::before {
    left: 0;
  }

  nav ul li a:hover::after,
  nav ul li a:hover::before {
    width: 50%;
  }

  .form__group {
    display: block;
    flex: none;
  }
  .form__input {
    padding: 5px;
    font-size: 21px;
    border-bottom: 3px solid transparent;
    width: 100%;
  }
  .form__btn {
    float: right;
    width: 100%;
  }
}

/*=====  End of NAVIGATION  ======*/

a {
  text-decoration: none !important;
}
#carousel h1 {
  font-size: 70px;
  font-family: "Acme", sans-serif;
  margin-top: 200px;
}
#carousel .card {
  border: none;
}
#carousel img {
  height: 400px;
}

.category {
  margin: 0;
  padding: 0;
}

.category__title h2 {
  color: #acabab;
  padding: 10px 0;
  margin: 20px 0 20px 40px;
  font-size: 25px;
}

.card__outer {
  padding: 20px;
  background-color: rgba(36, 36, 36, 0.242);
  min-width: 100%;
  display: flex;
  overflow: auto;
}

.card__outer::-webkit-scrollbar {
  display: none;
}

.card {
  margin: 0 auto;
  background: #3d3c3b14;
}

.card img {
  border-radius: 3px;
}

.card__title {
  color: #f4f4f4;
  font-size: 14px;
  padding: 10px 0;
}

/*=============================================
=            FOOTER            =
=============================================*/

footer {
  text-align: center;
  background: #000;
  height: 60px;
  color: #777;
  font-weight: 200;
}
footer p {
  padding: 20px 0;
  font-size: 14px;
}
footer .light {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/*=====  End of FOOTER  ======*/
