@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  background: #000000f3;
}

/*=============================================
=            NAVIGATION           =
=============================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-size: 14px;
  background-color: #181818;
  border-bottom: 1px solid rgb(62, 59, 59);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
}

.logo {
  margin-left: 30px;
}

.logo a {
  color: #ff982c;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
}

@media only screen and (max-width: 750px) {
  .logo a {
    font-size: 90%;
  }
}

.search {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .search {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0;
  }
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #f4f2f2;
  border: none;
  padding: 7px 20px;
  border-radius: 100px;
  width: 90%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: -30px;
}

@media only screen and (max-width: 750px) {
  .search__input {
    width: 20%;
    margin-right: -27px;
  }
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #e1dfdf;
}

@media only screen and (max-width: 750px) {
  .search__input:focus {
    position: absolute;
    top: 20px;
    left: 0;
    width: 80%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 600px) {
  .search__input:focus {
    width: 70%;
  }
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #e1dfdf;
}

@media only screen and (max-width: 750px) {
  .search__input:focus + .search__button {
    background-color: #ff982c;
    padding: 7px;
    border-radius: 5px;
  }
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  cursor: pointer;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.search__icon {
  font-size: 1rem;
}

.user-nav {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

@media only screen and (max-width: 750px) {
  .user-nav {
    font-size: 80%;
  }
}

.user-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.user-nav__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-nav__list--item:not(:last-child) {
  margin-right: 20px;
}

.user-nav__list--item:hover {
  background-color: #f4f2f24c;
  color: #ff982c;
}

.user-nav__list--link {
  text-decoration: none;
  color: #f4f2f2;
}
/*=====  End of NAVIGATION  ======*/

/*=============================================
=               CAROUSEL           =
=============================================*/

a {
  text-decoration: none !important;
}
#carousel h1 {
  font-size: 70px;
  font-family: "Acme", sans-serif;
  margin-top: 200px;
}
#carousel .card {
  border: none;
}
#carousel img {
  height: 400px;
}
/*===== END OF CAROUSEL ======*/

/*=============================================
=            CATEGORIES            =
=============================================*/

.categories {
  margin: 85px 0 0 0;
  padding: 0;
}

.category__title {
  padding: 10px 0;
  margin: 20px 0 20px 40px;
  font-size: 25px;
}

.category__title a {
  color: #acabab;
}
/*=====  End of CATEGORIES  ======*/

/*=============================================
=            CARD            =
=============================================*/

.card__outer {
  padding: 20px;
  background-color: #2424243e;
  min-width: 100%;
  display: flex;
  overflow: auto;
}

.card__outer::-webkit-scrollbar {
  display: none;
}

.card {
  margin: 0 10px;
  background: #3d3c3b14;
}

.card img {
  border-radius: 3px;
  min-height: 250px;
  max-height: 250px;
}

.card__title {
  color: #f4f4f4;
  font-size: 14px;
  padding: 10px 0;
}
/*=====  End of CARD  ======*/

/*=============================================
=             MOVIES DETAILS           =
=============================================*/

.movie__details {
  position: relative;
  padding-top: 56vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
}

.movie__details--info {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #f4f4f4;
  text-align: left;
  padding: 2rem 5%;
  display: flex;
  grid-template-columns: repeat(2, 2fr);
}

.movie__details--box {
  margin-left: 30px;
}

.movie__details--info-title {
  margin-bottom: 20px;
}

.movie__details--info-date {
  margin-bottom: 20px;
}

.movie__details--genre {
  font-size: 16px;
}

.movie__details-poster {
  position: relative;
  top: -6rem;
  border-radius: 3px;
  background: #000;
}

.movie__details--runtime {
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-left: 20px;
}

/*=====  End of MOVIES DETAILS  ======*/

/*=============================================
=            Flex Layout            =
=============================================*/

.flex__box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
  .flex__box {
    padding: 10px 0;
    justify-content: none;
  }

  .flex__item {
    margin: 0;
    padding: 0;
  }
}

.flex__item {
  margin-top: 20px;
  max-width: 190px;
  min-height: 270px;
}

.flex__heading {
  text-align: center;
  padding: 30px;
  color: #acabab;
}
.flex__notfound {
  text-align: center;
  width: 100vw;
  margin: 200px auto;
  color: #fff;
}

.flex__item-title {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

/*=====  End of  Flex Layout  ======*/

/*=============================================
=            FOOTER            =
=============================================*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000f3;
  height: 60px;
  color: #777;
  font-weight: 200;
}
footer p {
  font-size: 14px;
}

footer .light {
  color: white;
  text-decoration: none;
}
/*=====  End of FOOTER  ======*/

/* spinner */
.loading__spinner {
  height: 100%;
  width: 100%;
  position: relative;
}

.loading__spinner-img {
  width: 40px;
  margin: 100px 50%;
  transform: translate(-50%, -50%);
}
