@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  background: #000000f3;
}

/*=============================================
=            NAVIGATION           =
=============================================*/

.nav__toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  background-color: #fff;
  -webkit-appearance: push-button;
  cursor: pointer;
}

/* .nav__height {
  position: absolute;
  top: -200px;
} */

nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  background-color: #2424243e;
  text-align: center;
  /* height: 60px; */
  transition: all 400ms;
}

nav ul li a {
  color: #ddd;
  text-decoration: none;
  padding: 0.8rem 0.5rem;
  display: block;
  line-height: 1;
}

nav ul li {
  border-bottom: 1px solid #ddd;
}

/* style logo */

.logo {
  padding: 20px;
  text-align: center;
}

nav .logo a {
  color: #ff982c;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
}

form {
  width: 100%;
  display: flex;
}

.form__group {
  flex: 1;
}

.form__input {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: inherit;
  padding: 6px 0;
  background-color: #6f6f6f3c;
  border: none;
  border-bottom: 2px solid transparent;
  width: 100%;
  transition: all 500ms;
}

.form__input:focus {
  outline: none;
  box-shadow: 1 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #55c57a;
}
.form__input:focus:focus:invalid {
  border-bottom: 2px solid #ff982c;
}

.form__input::-webkit-input-placeholder {
  padding-left: 10px;
}
.form__input:focus::-webkit-input-placeholder {
  color: #777;
  margin-left: 5px;
}

.form__btn {
  display: block;
  width: 100%;
  float: right;
  font-size: 18px;
  padding: 7px 3px;
  background-color: transparent;
  color: #fff;
  background-color: #ff982c;
}

/* styling for larger devices */
@media (min-width: 800px) {
  .nav__toggle {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    align-items: center;
  }

  nav .logo a {
    font-size: 22px;
  }

  nav ul {
    display: flex;
    align-items: center;
    background: none;
    flex-wrap: wrap;
  }

  nav .logo {
    padding: 0;
    margin-left: 1rem;
  }

  nav ul li {
    border-bottom: none;
    flex: 1 0 auto;
    position: relative;
  }

  nav ul li a {
    padding: 1rem 0.8rem;
  }

  nav ul li a::before,
  nav ul li a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background: #ff982c;
    transition: 0.2s width ease-in-out;
  }

  nav ul li a::before {
    left: 0;
  }

  nav ul li a:hover::after,
  nav ul li a:hover::before {
    width: 50%;
  }

  .form__group {
    display: block;
    flex: none;
  }

  .form__group:not(:first-child) {
    margin-right: 20px;
  }

  .form__input {
    padding: 5px;
    font-size: 21px;
    border-bottom: 3px solid transparent;
    width: 100%;
  }
  .form__btn {
    width: 100%;
    margin-left: 30px;
    color: #ff982c;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #ff982c;
  }
}

/*=====  End of NAVIGATION  ======*/

/*=============================================
=               CAROUSEL           =
=============================================*/

a {
  text-decoration: none !important;
}
#carousel h1 {
  font-size: 70px;
  font-family: "Acme", sans-serif;
  margin-top: 200px;
}
#carousel .card {
  border: none;
}
#carousel img {
  height: 400px;
}
/*===== END OF CAROUSEL ======*/

/*=============================================
=            CATEGORIES            =
=============================================*/

.categories {
  margin: 0;
  padding: 0;
}

.category__title h2 {
  color: #acabab;
  padding: 10px 0;
  margin: 20px 0 20px 40px;
  font-size: 25px;
}
/*=====  End of CATEGORIES  ======*/

/*=============================================
=            CARD            =
=============================================*/

.card__outer {
  padding: 20px;
  background-color: #2424243e;
  min-width: 100%;
  display: flex;
  overflow: auto;
}

.card__outer::-webkit-scrollbar {
  display: none;
}

.card {
  margin: 0 10px;
  background: #3d3c3b14;
}

.card img {
  border-radius: 3px;
}

.card__title {
  color: #f4f4f4;
  font-size: 14px;
  padding: 10px 0;
}
/*=====  End of CARD  ======*/

/*=============================================
=             MOVIES DETAILS           =
=============================================*/

.movie__details {
  position: relative;
  padding-top: 56vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
}

.movie__details--info {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #f4f4f4;
  text-align: left;
  padding: 2rem 5%;
  display: flex;
  grid-template-columns: repeat(2, 2fr);
}

.movie__details--box {
  margin-left: 30px;
}

.movie__details-poster {
  position: relative;
  top: -6rem;
  border-radius: 3px;
}

.movie__details--runtime {
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-left: 20px;
}

/*=====  End of MOVIES DETAILS  ======*/

/*=============================================
=            FOOTER            =
=============================================*/

footer {
  text-align: center;
  background: #000;
  height: 60px;
  color: #777;
  font-weight: 200;
}
footer p {
  padding: 20px 0;
  font-size: 14px;
}
footer .light {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/*=====  End of FOOTER  ======*/
